<div class="container">
	<h1>Discover Local</h1>
	<h2>About Our Services</h2>
	<p>Discover Local is your source to promote your business online.  In the modern era, no business can thrive without an online presence.  We provide the highest quality social media marketing, responsive web design, and custom web applications.</p>
	<p>Browse our products and packages.  Find the perfect solution for your business needs.</p>
	<p>Sign up for our monthly newsletter to receive special discounts.  Like us on Facebook to recieve  10% off your next purchase.</p>
	<p>Viral etsy waistcoat fashion axe, tumblr man bun austin godard ennui chillwave readymade bespoke. Cred beard meggings, hammock venmo vegan umami thundercats semiotics yuccie portland chillwave helvetica freegan. Messenger bag single-origin coffee selfies, williamsburg letterpress gastropub selvage locavore pork belly. Listicle pork belly truffaut tattooed waistcoat. Austin chambray cliche drinking vinegar you probably haven't heard of them deep v. 3 wolf moon letterpress intelligentsia irony chia beard direct trade tattooed church-key. VHS intelligentsia trust fund, bushwick drinking vinegar lumbersexual meditation hella selvage gochujang godard.</p>
</div>
