
<div class="index-image">
  <%= image_tag("street.jpg", width: "100%", height: "100%", class: "img-responsive street") %>
  <h1 class="brandname"><span>DiscoverLocal</span><br /></h1>
  <h1 class="tagline"><span>Help customers discover your business.</span></h1>
  <h1 class="alternate"><span>Get discovered.</span></h1>
</div>
<p>Welcome!  The date and time is: <%= Time.now %></p>
