/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-form {
  vertical-align: middle;
}

#login > a {
  color: #ff0000;
  font-weight: bold;
}

.container-devise {
  max-width: 30%;
  margin: 0 auto;
}

.container-comment {
  max-width: 80%;
  margin: 0 auto;
}

.container-devise > .field.form-group {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  height: 3em;
}

div.field.form-group {
  margin-bottom: 0;
}

.field > label {
  display: inline-block;
  float: right;
}

.field > input {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: .6em;
  font-size: 1.2em;
  background-color: #fff;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.container-devise > .field.form-group.textarea {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  height: 4.4em;
}

.field > textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: .6em;
  font-size: 1.2em;
  background-color: #fff;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#error_explanation {
  width: auto;
}

.field_with_errors {
  display: block;
}

.field_with_errors > input {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: .6em;
  font-size: 1.2em;
  background-color: #fff;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox {
  margin: .6em 0 0;
}

.checkbox > input#user_remember_me {
  margin-left: 0;
}

.checkbox > label {
  padding-left: 2em;
}

.actions > input {
  display: block;
  margin: .6em auto 0;
  width: 100%;
  background: #e7e7e7;
  color: #777;
  font-weight: bold;
}

.btn-default:hover {
  color: #ff0000;
}

.container-devise > a:hover {
  background-color: #fff;
  color: #ff0000;
  text-decoration: none;
}

.alert {
  text-align: center;
  top: 4em;
  height: 3.5em;
  padding: 1em;
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 99;
}

.alert > a {
  line-height: .85;
}

.alert > a:hover {
  background-color: #f2dede;
}

.notice > a:hover {
  background-color: #d9edf7;
}

@media (max-width: 1016px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}

@media (max-width: 700px) {
  .container-devise {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .notice {
    height: auto;
  }
}

@media (max-width: 700px) {
  .alert {
    height: auto;
  }
}