// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3 {
	font-family: 'Droid-Sans', verdana, helvetica, sans-serif;
	margin: 0 auto;
	text-align: center;
}

.row {
	margin: 2em auto;
	padding: 5em auto;
}

.product-box {
	display: block;
	margin: 1em auto;
	width: 95%;
	border-style: solid;
	border-radius: 1em;
	border-width: 2px;
	border-color: #000;
	height: auto;
}

.product-show {
	margin-top: 0;
}

#image-div {
	verticle-align: middle;
}

img {
	margin: 0 auto;
}


