// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  margin: 0 auto;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.content {
  flex: 1;
}

h1 {
  color: #fff;
  font-family: 'Droid-Sans', verdana, helvetica, sans-serif;
  margin: 0 auto;
}

.products-header {
  color: #000;
  font-family: 'Droid-Sans', verdana, helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
}

h2 {
  text-align: center;
}

.product-box {
  text-align: center;
}

.product-controller p {
  text-align: left;
}

.navbar-default .navbar-brand {
  font-family: acme, arial, sans serif;
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: .025em;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: red;
}

.index-image { 
  margin-top: -20px;
  position: relative; 
  width: 100%; /* for IE 6 */
}

.brandname { 
  visibility: hidden;
  font-size: 4em;
  font-weight: bold;
  position: fixed; 
  top: 6em; 
  left: 0; 
  width: 100%; 
}

.tagline { 
  visibility: hidden;
  font-size: 2.5em;
  font-weight: bold;
  position: fixed; 
  top: 11em; 
  left: 0; 
  width: 100%; 
}

.alternate { 
  font-size: 2em;
  font-weight: bold;
  position: fixed; 
  top: 5em; 
  left: 0; 
  width: 100%; 
}

h1 span { 
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: .1em; 
}

footer {
    height: 3em;
    background-color: #f5f5f5;
}

footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

footer > .container > p {
  color: red;
  line-height: 3em;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1125px) {
  .brandname { 
    visibility: visible;
  }
}

@media (min-width: 840px){
  .tagline {
    font-size: 4em;
    top: 7.41em;
  }
}

@media (min-width: 700px){
  .alternate {
    visibility: hidden;
  }
}

@media (min-width: 700px) {
  .tagline { 
    visibility: visible;
  }
}