<p id="notice"><%= notice %></p><br>

<h1 class="products-header">Products</h1>

<div class="container products-container">
  <div class="row" id="products-row">
    <%= render @products %> 
  </div>  <!--end products-row-->
  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <% if signed_in? && current_user.admin? %>
      <p><%= link_to 'New Product', new_product_path  %></p>
      <% end %>
    </div>
  </div>
</div>


