<p id="notice"><%= notice %></p><br>

<h1 class="products-header">Products</h1>

<div class="container products-container">
  <div class="row" id="products-row">
    <%= render @products %> 
  </div>  <!--end products-row-->
</div><!--end products-container-->


<div class="container product-controller">
  <p><%= link_to 'New Product', new_product_path %></p>
</div>


